:root {
  --main-orange: #F18805;
  --main-blue: #007BFF;
  --main-white: #FFFFFF;
  --main-black: #000000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--main-text-color);
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}